
*{
    margin:0px;
    padding:0px; 
}

      /* IMAGE UPLOAD */
.dropzone {
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
  }
  
  .dropzone_box {
    float: left;
    width: 30%;
    height: 160px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .dropzone_box  .wrap {
    background: #eaeaea;
    height: 100%;
    text-align: center;
    padding-top: 31px;
    box-sizing: border-box;
    font-size: 49px;
    background-size: contain !important;
    background-position: center  !important;
    border: 1px solid #eaeaea;
  }



                /* FOOTER */

                .bck_b_dark {
                    margin-top:10rem;
                    background: #272723;
                }

                .bck_b_light {
                    background: #999592;
                }   
                footer{
                    border-top:2px solid black; 
                }
               .container {
                   widows: 100%;
                    margin: 0 auto;
                     }

            footer .back_b_dark{
                position: absolute;
                top:100%;
                }
             footer .logo {
                    text-align: center;
                    font-family: 'Monoton', cursive;
                    color: #ffffff;
                    font-size: 40px;
                    padding: 11px 0px;
                    border-bottom: 1px solid #4d4d4d;
                }
                
                footer .wrapper {
                    display: flex;
                    position:absolute;

                    color: #828282;
                }
                
                footer .left,
                footer .right {
                    flex: 1;
                }
                
                footer .business_nfo {
                    display: flex;
                    flex-wrap: wrap;
                }
                
                footer .business_nfo .tag {
                    flex-grow: 1;
                    position: relative;
                    width: 50%;
                    margin-bottom: 30px;
                }
                footer .business_nfo .icon {
                    position: absolute;
                    font-size: 2rem;
                    top: 10px;
                }
                footer .business_nfo .nfo {
                    padding-left: 40px;
                }
                
                
                /* MAIN.js  */
.logo{
    height:20rem;
    padding:1.5em;
}
.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.247),rgba(0,0,0,0.7));
    background-attachment: fixed;
}

.intro_p{
    color:white;
    margin-top:2rem; 
}

.intro_preg{
    margin:0 2px;
    color: #4d4d4d;
    padding: 0 2px;
    background-color: rgb(80, 231, 60);
}
.works{

    width:100%;
    margin:0;
    padding:8rem 0;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.164),rgba(0, 0, 0, 0.521)),url("../../../images/carousel1.jpg");
}

                    /*Header*/


                /* FORMROW */

.name{
    font-weight:300;
    font-family:Algerian;
    text-align:left;
    color:black;
    font-size:20px;
}

.value{
    font-size:15px;
    color:black;
    font-family:Arial, Helvetica, sans-serif
}

.formrow{
    margin:10px;
    padding:15px;
}

/* form */
input {
    font-size: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    margin: 10px;
    border-radius:10px;
}


button {
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    background: #e1ddc3;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.error_label {
    color: #F44336;
    display:block;
    font-size: 15px;
}

textarea {
    width: 100%;
    height: 51px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}



.label_inputs {
    text-transform:capitalize;
    font-family:algerian;
    display: inline-block;
    
    color: black;
    padding: 5px;
}


/* typography */
#logo {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    text-align:center;
  }

  .neon{
      font-weight:500;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 20px;
      margin :10px
  }


  /* CV */

  .cv{
      padding:10px;
      margin:20px;
      border:1px solid black;
  }



  @media print {
    .header, .footer,.bck_b_dark{ display: none !important; }
 }

 #para{
     font-family:arial;
     font-weight: 300;
     font-size:25px;
     
 }

 .description{
     background-color:grey;
     border: 2px solid black;
     border-radius: 10px;
 }
 
 .carde{
     background-image: url("carousel1.jpg");

 }